[submodule "tools/update_payload_extractor"]
	path = tools/update_payload_extractor
	url = https://github.com/gmrt/update_payload_extractor.git
[submodule "prebuilt/vendor_vndk"]
	path = prebuilt/vendor_vndk
	url = https://github.com/erfanoabdi/vendor_vndk.git
