on early-init
	
on init

    mkdir /mnt/shell 0750 shell shell

    mkdir /mnt/shell/privatemode 0700 system system
    mkdir /mnt/shell/privatemode/default 0700 system system
    mkdir /mnt/shell/privatemode/read 0700 system system
    mkdir /mnt/shell/privatemode/write 0700 system system
    
    mkdir /mnt/shell/private_default 0700 system system
    mkdir /mnt/shell/private_read 0700 system system
    mkdir /mnt/shell/private_write 0700 system system
    
    # From M OS, FS for ext has been seperated
    mkdir /mnt/knox 0700 root root
    mkdir /mnt/knox/default 0700 root root
    mkdir /mnt/knox/read 0700 root root
    mkdir /mnt/knox/write 0700 root root
    mkdir /mnt/knox/default/emulated 0700 root root
    mkdir /mnt/knox/read/emulated 0700 root root
    mkdir /mnt/knox/write/emulated 0700 root root

    # SDP USER 0, SECURE FS
    mkdir /mnt/shell/enc_emulated 0700 root system
    mkdir /mnt/shell/enc_media 0700 system system
    mkdir /mnt/runtime/default/enc_emulated 0755 system system
    mkdir /mnt/runtime/read/enc_emulated 0755 system system
    mkdir /mnt/runtime/write/enc_emulated 0755 system system

    chown system system /dev/dek_evt
    chmod 600 /dev/dek_evt

    chown system 8001 /dev/dek_req
    chmod 660 /dev/dek_req

    chown system 8001 /dev/dek_kek
    chmod 660 /dev/dek_kek

    chown system 8001 /dev/sdp_mm
    chmod 660 /dev/sdp_mm

    chown system 8001 /dev/sdp_dlp
    chmod 660 /dev/sdp_dlp

on post-fs-data

    # create knox filesystem structure
    mkdir /data/knox 0771 system system
    mkdir /data/knox/data 0771 system system
    mkdir /data/knox/sdcard 0770 media_rw media_rw
    chmod 0770 /data/knox/sdcard
    chown media_rw media_rw /data/knox/sdcard
    mkdir /data/knox/ext_sdcard 0771 system system
    mkdir /data/knox/app 0771 system system
    mkdir /data/knox/tmp 0771 system system

    # From Android M, separated CE/DE storages have to be supported
    mkdir /data/knox/data_de 0771 system system
    mkdir /data/knox/system_ce 0770 system system
    mkdir /data/knox/system_de 0770 system system
    mkdir /data/knox/misc_ce 01771 system misc
    mkdir /data/knox/misc_de 01771 system misc

    # DualDAR
    mkdir /data/misc/knoxcore 0771 vendor_knoxcore vendor_knoxcore
    mkdir /data/misc/knoxcore/dualdar 0771 vendor_knoxcore vendor_knoxcore

    chown vendor_knoxcore vendor_knoxcore /dev/dd
    chmod 600 /dev/dd

    export KNOX_STORAGE /data/knox/ext_sdcard

    # SDP USER 0, SECURE FS
    mkdir /data/enc_user 0771 system system
    mkdir /data/knox/secure_fs 0771 system system
    mkdir /data/knox/secure_fs/enc_user 0771 system system
    mkdir /data/knox/secure_fs/enc_media 0771 system system

    export ENC_EMULATED_STORAGE_TARGET /storage/enc_emulated

    restorecon /data/knox

on boot

#group system log shell
#service epmlogd /system/bin/epmlogd
#    class main
#    user system
#    group system log shell
#    oneshot

# virtual sdcard daemon running as system (1000)
#service knox /system/bin/sdcard /data/knox/sdcard /mnt/shell/knox-emulated 1000 1000
#    class late_start
#    oneshot

# virtual sdcard daemon running as system (1000)
#service secure_fs /system/bin/sdcard -r /data/knox/secure_fs/enc_media /mnt/shell/enc_media 1000 1000
#    class late_start
#    oneshot

#    start knox
