##/*************************************************************
## ** File: - vendor.oppo.hardware.cryptoeng@1.0-service.rc
## ** VENDOR_EDIT
## ** Copyright (C), 2016-2020, OPPO Mobile Comm Corp., Ltd 
## ** 
## ** Description : 1.0
## **           This is a common file 
## ** 
## ** Version: 1.0
## ** Date created: 11:00, 2018/01/15
## ** Author: Ping.Liu@PSW.BSP.Fingerprint.Basic
## ** 
## ** ------------------ Revision History: ---------------------
## **      <author>        <date>                    <desc>
## **      Ping.Liu        11:00, 2018/01/15      modify for access of sdcard
## **      Ping.Liu        17:00, 2018/04/17      modify for access of cryptoeng_data_file.
## **      Dongnan.Wu      20:00, 2018/12/01      modify the path of the cryptoeng data
## *************************************************************/

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

service hal_cryptoeng_oppo /system/bin/hw/vendor.oppo.hardware.cryptoeng@1.0-service
    class late_start
    user system
    group system input sdcard_rw sdcard_r
